<?xml version="1.0" encoding="utf-8"?>
<!--
  SafePause 안전 정지 (안드로이드).
  - 인터넷 권한(INTERNET)을 요청하지 않는다: 거래 데이터가 기기 밖으로 나갈 통로가 운영체제 수준에서 없다.
  - 화면(WebView)과 AI 엔진(Pyodide 파이썬)은 APK 안의 assets에서만 읽는다(MainActivity.shouldInterceptRequest).
  - 음성 읽기는 기기 안의 TTS 엔진만 쓴다(queries: TTS_SERVICE는 안드로이드 11+ 패키지 가시성 규칙).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.safepause.mobile">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hasFragileUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!-- WebView 사용 통계 전송·안전 탐색 조회를 끈다(WebView 제공 앱을 거쳐 밖으로 나가는 통신도 없게). -->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
